[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
#WorkingDirectory=/var/www/django/repair_journal
ExecStart=/usr/bin/gunicorn3 \
--access-logfile - \
--workers 3 \
--bind unix:/run/gunicorn.sock \
--chdir /var/www/django/repair_journal \
proj_rj.wsgi:application

[Install]
WantedBy=multi-user.target
