/* Общие настройки */
body {
    background-color: #F0F8FF; /* Фоновый цвет страницы */
    color: #00008B; /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифтовая гарнитура */
    font-size: 16px; /* Размер шрифта */
}

/* Настройки для заголовка h1 */
h1 {
    font-weight: bold; /* Жирность шрифта */
}

/* Настройка ссылок */
a {
    text-decoration: underline; /* Подчеркнутый текст ссылки */
}

/* Настройка изображений */
img {
    width: 300px; /* Ширина изображения */
}
