{%extends 'base.html'%}

{%block title%}
{{category_cur.title}}
{%endblock%}

{%block title2%}
{{category_cur.title}}
{%endblock%}


{%block sidebar%}
  {%include 'inc/_sidebar.html'%}
{%endblock%}

{%block content%}
  {% for i in news_category %}
  <div class="card mb-3">
    <span>
      {{ forloop.counter }}
    </span>
    <div class="card-header">
      Категория: <a href="{%url 'category' i.category.id%}">{{i.category.title}}</a>
    </div>
    <div class="media" style="display:flex;">
      <div class="media-photo">
        {% if i.photo%}
          <img src="{{ i.photo.url }}" class="mr-3" width="350" alt="IMAGE">
        {% endif %}
      </div>
      <div class="media-body">
        <h5 class="card-title {% cycle 'text-success' 'text-danger' %}">
          {{i.title}}
        </h5>
        {% autoescape off %}
        <p class="card-text">{{i.content | truncatewords:25 | linebreaks}}</p>
        {% endautoescape %}
        <a href="#" class="btn btn-primary">Read more...</a>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      {{i.created_at | date:'Y-m-d H:i'}}
    </div>
  </div>
  {% endfor %}
{%endblock%}
